    body {
        background-color: #202020;
        color: white
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Courier New', Courier, monospace;
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"] {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .msg {
        margin-top: 15px;
        padding: 10px;
        border-radius: 4px;
    }

    .msg {
    min-height: 24px; /* reserva espaço */
    margin-top: 10px;
}

.erro {
    color: red;
}

.sucesso {
    color: green;
}

/* Remove o botão nativo de mostrar senha (Edge/Chrome) */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
    display: none !important;
}